body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u141 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:none;
}
#u142_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1037px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1037px;
}
#u145 {
  position:absolute;
  left:2px;
  top:510px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u146 {
  position:absolute;
  left:28px;
  top:84px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:28px;
  top:121px;
  width:91px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u150 {
  position:absolute;
  left:142px;
  top:119px;
  width:71px;
  height:20px;
  color:#0099CC;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:692px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:28px;
  top:291px;
  width:327px;
  height:692px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:122px;
}
#u154 {
  position:absolute;
  left:28px;
  top:159px;
  width:324px;
  height:122px;
}
#u155 {
  position:absolute;
  left:2px;
  top:53px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:20px;
}
#u158 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:14px;
}
#u159 {
  position:absolute;
  left:30px;
  top:109px;
  width:370px;
  height:14px;
}
#u160 {
  position:absolute;
  left:2px;
  top:-1px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:27px;
  top:126px;
  width:375px;
  height:44px;
}
#u163 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u164 {
  position:absolute;
  left:178px;
  top:136px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u167 {
  position:absolute;
  left:46px;
  top:138px;
  width:20px;
  height:20px;
}
#u168 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:66px;
  top:138px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u171 {
  position:absolute;
  left:355px;
  top:133px;
  width:30px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
